/* .container{
    display: flex;
    width: 100%;
    row-gap: 16px;
}
.container div {
    background-color: red;
    margin-right: 16px;
    height: 100px;
    flex-grow: 1;
} */
/* .parent {
  background-color: blue;
}
.child {
  background-color: lightblue;
} */
